<div class="container">
  <div class="has-background-primary cover">
  </div>
  <div class="profile-pic">
    <figure class="image picture-circle">
        <%= image_tag avatar_img(@user), class: "is-rounded" %>
    </figure>
  </div>
</div>
<div class="box profile-name">
  <h1 class="has-text-weight-semibold is-size-3 has-text-centered">
    <%= @user.name %>
  </h1>
  <h2 class="is-size-5 has-text-centered has-text-weight-light">
    <% if current_user == @user %>
      <% if @user.bio %>
       <p> <%= @user.bio %> </p> 
       <%= link_to "edit bio", edit_user_registration_path %>
      <% else %>
       <%= link_to "add bio" %>
      <% end %>
    <% else %>
      <%= @user.bio %>
    <% end %>
  </h2>
</div>

<div class="container profile-wrapper">
  <div class="columns desktop is-3 ">
    <div class="column is-4 ">
      <div class="box">
        <h1 class="is-size-4">Info</h1>
        <br>
        <div class="block">
          <h2 class="has-text-weight-semibold">Gender:</h2>
          <p><%= @user.gender%></p> 
        </div>
        <div class="block">
          <h2 class="has-text-weight-semibold">Birthday:</h2>
          <p><%= @user.birth_date%></p> 
        </div>
        <div class="block">
          <h2 class="has-text-weight-semibold">Hobbies:</h2>
          <% if current_user == @user %>
            <% if @user.hobbies %>
              <p><%= @user.hobbies %></p> 
              <%= link_to "add hobbies", edit_user_registration_path %>
            <% else %>
              <%= link_to "add hobbies", edit_user_registration_path %>
            <% end %>
          <% else %>
              <p><%= @user.hobbies %></p> 
          <% end %>
        </div>
      </div>
      <div class="box">
      <h1>Friends: (<%= @user.friends.count %>)</h1>
      <br>
      <% @user.friends.each do |f| %>
        <ul>
          <li> <%= link_to f.name, profile_path(f) %> </li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="column is-8 "> 
      <%= render 'posts/form' %>
      <br>
      <div class="">
        
        <% @posts.each do |post| %>
          <div class="card mt-4">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                      <figure class="image is-64x64">
                          <%= image_tag avatar_img(post.user), class: "is-rounded" %>
                      </figure>
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"> <%= post.user.name %> </p>
                  <p class="subtitle is-6"> <%= post.user.email%> </p>
                </div>
              </div>

              <div class="content">
                <%= post.content   %>
                <br>
                <br>
              </div>
            </div>
              <p class="ml-5">(<%= post.likes.count %>)  <%= post.likes.count < 1 ? 'Like' : 'Likes' %></p>
            <footer class="card-footer">
              <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: "card-footer-item"%>
              <% else %>
                <%= link_to 'Like', post_likes_path(post), method: :post, class: "card-footer-item" %>
              <% end %>
              <a href="#" class="card-footer-item">Comment</a>
            </footer>
            
            <% post.comments.each do |comment| %>
            <div class="box has-background-light mt-2">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong> <%= comment.user.name %> </strong> 
                      <br>
                      <%= comment.body %>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <% end %>
          </div>

          <div class="box">
            <%= form_with model: Comment.new do |f| %>
              <div class="field">
                <div class="control">
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.text_area :body, class: "textarea is-small" %>
                </div>
              </div>
              <%= f.submit "comment", class: "button is-primary" %>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>