<div class="container">
  <div class="has-background-primary cover">
  </div>
  <div class="profile-pic">
    <figure class="image picture-circle">
        <%= image_tag avatar_img(@user), class: "is-rounded" %>
    </figure>
  </div>
</div>
<div class="box profile-name">
  <h1 class="has-text-weight-semibold is-size-3 has-text-centered">
    <%= @user.name %>
  </h1>
  <h2 class="is-size-5 has-text-centered has-text-weight-light">
    <% if current_user == @user %>
      <% if @user.bio %>
       <p> <%= @user.bio %> </p> 
       <%= link_to "edit bio", edit_user_registration_path %>
      <% else %>
       <%= link_to "add bio", edit_user_registration_path %>
      <% end %>
    <% else %>
      <%= @user.bio %>
    <% end %>
  </h2>
</div>

<div class="container profile-wrapper">
  <div class="columns desktop is-3 ">
    <div class="column is-4 ">
      <div class="box">
        <h1 class="is-size-4">Info</h1>
        <br>
        <div class="block">
          <h2 class="has-text-weight-semibold">Gender:</h2>
          <p><%= @user.gender%></p> 
        </div>
        <div class="block">
          <h2 class="has-text-weight-semibold">Birthday:</h2>
          <p><%= @user.birth_date%></p> 
        </div>
        <div class="block">
          <h2 class="has-text-weight-semibold">Hobbies:</h2>
          <% if current_user == @user %>
            <% if @user.hobbies %>
              <p><%= @user.hobbies %></p> 
              <%= link_to "add hobbies", edit_user_registration_path %>
            <% else %>
              <%= link_to "add hobbies", edit_user_registration_path %>
            <% end %>
          <% else %>
              <p><%= @user.hobbies %></p> 
          <% end %>
        </div>
      </div>
      <div class="box">
      <h1>Friends: (<%= @user.friends.count %>)</h1>
      <br>
      <% @user.friends.each do |f| %>
        <ul>
          <li> <%= link_to f.name, profile_path(f) %> </li>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="column is-8 "> 
      <%= render "posts/form" if current_user == @user %>
      <br>
      <%= render "posts/post" %>
    </div>
  </div>
</div>