
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="box is-three-fifths">
      <h1 class="has-text-centered title">Log In</h1>

          <div class="field">
            <%= f.label :email, class: "label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <div class="field">
            <%= f.label :password, class: "label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "button primary" %>
          </div>
          <p> or <%= link_to "Register with Facebook", user_facebook_omniauth_authorize_path %> </p>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<% end %>

