<%= render "form" %>
<div class="container mt-6">
  <div class="column is-three-fifths is-offset-one-fifth">
      <% @posts.each do |p| %>
        <div class="card mt-4">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4"> <%= p.user.name %> </p>
                <p class="subtitle is-6"> <%= p.user.email%> </p>
              </div>
            </div>

            <div class="content">
              <%= p.content   %>
              <br>
              <br>
            </div>
          </div>
           <p class="ml-5">(<%= p.likes.count %>)  <%= p.likes.count < 1 ? 'Like' : 'Likes' %></p>
          <footer class="card-footer">
            <% pre_like = p.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= link_to 'Unlike', post_like_path(p, pre_like), method: :delete, class: "card-footer-item"%>
            <% else %>
              <%= link_to 'Like', post_likes_path(p), method: :post, class: "card-footer-item" %>
            <% end %>
            <a href="#" class="card-footer-item">Comment</a>
          </footer>
          
          <% p.comments.each do |comment| %>
          <div class="box has-background-light mt-2">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong> <%= comment.user.name %> </strong> 
                    <br>
                    <%= comment.body %>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <% end %>

          <div class="box">
            <%= form_with model: Comment.new do |f| %>
              <div class="field">
                <div class="control">
                <%= f.hidden_field :post_id, :value => p.id %>
                <%= f.text_area :body, class: "textarea is-small" %>
                </div>
              </div>
              <%= f.submit "comment", class: "button is-primary" %>
            <% end %>
          </div>

        </div>
      <% end %>
  </div>
</div>