<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h2 class="title is-2 has-text-primary-light"> <span class="has-text-primary has-text-weight-medium title is-1">F</span>akeBook</h2>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <%= link_to "News Feed", '/', class: "navbar-item has-text-primary-light" %>
        <%= link_to "Find Friends", users_path, class: "navbar-item has-text-primary-light" %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if current_user %> 
            <%= link_to "Friend requests (#{current_user.pending_invitations.count})", friend_requests_path, class: "navbar-item has-text-primary-light" %>
            <p class="is-size-5 mr-5 has-text-primary-light"><%= link_to current_user.name, profile_path(current_user.id) %></p>
            <div class="buttons">
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button is-primary" %>
              <% else %>
                <%= link_to  "Sign Up", new_user_registration_path, class: "button is-primary mr-6" %>
                <%= link_to "Sign In", new_user_session_path, class: "button is-light mr-2" %>
            </div>
            <% end %> 
          </div>
        </div>
      </div>
    </nav>
    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
     <%= yield %>
    </div>
  </body>
</html>
